
#huanzhuhuatiall{padding-top: 46px !important;padding-top: 0px\9;}
#ghtopmenu{background-color: #0666c5;width: 100%;height: 45px;position: fixed;left: 0;top: 0;z-index: 20;border-bottom: 1px;}

#ghmiddlecontent{ min-height: 340px;width: 960px;margin: auto;position: relative;display: block;padding: 25px 0 50px;}
#ghmiddlecontentleft{width: 632px;margin: 0 58px 0 0;min-height: 340px;display: block;float:left;}
#ghmiddlecontentlefttitle{width: 632px;height: 23px;line-height: 23px;margin-bottom: 10px;}
#ghmiddlecontentlefttitlepic{margin-top: 4px; width: 16px;height: 16px;background-position: -71px -88px;background-image: url("images/close.png");float: left;vertical-align: -4px;margin-right: 9px;background-repeat: no-repeat;display: inline-block;}
#ghmiddlecontentlefttitle span{font-size: 14px;font-weight: 700;color: #666;float: left;}
#ghmiddlecontentlefttitlea{font-size: 12px;float: right;text-decoration: none;color: #999;}
#ghmiddlecontentlefttitlea:hover{text-decoration: underline;color: #259;}
#ghmiddlecontentleftcontent{width: 632px;min-height: 315px;border-top: 1px solid #ccc;height: auto;}
.ghmiddlecontentleftcontentdiv{width: 632px;height: 80px;padding: 15px 0;}
.ghmiddlecontentleftcontentdivdiv{width: 632px;height: 80px;}
.ghmiddlecontentleftcontentdivdivdiv{width: 568px;height: 77px;margin-top: 3px;margin-left: 64px !important;margin-left: 14px\9;}
.ghmiddlecontentleftcontentdivdiva{width: 50px;height: 50px;display: block;float: left;margin-top: 4px;}
.ghmiddlecontentleftcontentdivdivimg{background-size: 50px 50px;width: 50px;height: 50px;float: left;}
.ghmiddlecontentleftcontentdivdivdivguanzhutitle{width: 568px;height: 23px;margin-bottom: 6px;line-height: 16px;}
.ghmiddlecontentleftcontentdivdivdivguanzhucontent{width: 568px;height: 48px;}
.ghmiddlecontentleftcontentdivdivdivguanzhucontentquestion{width: 568px;height: 48px;}
.ghmiddlecontentleftcontentdivdivdivguanzhucontentquestion1{width: 568px;height: 22px;}
.ghmiddlecontentleftcontentdivdivdivguanzhutitlea1{ font-weight: 700;font-size: 14px;color:  #222;text-decoration: none;float: left;}
.ghmiddlecontentleftcontentdivdivdivguanzhutitlea1:hover{text-decoration: underline;}

.ghmiddlecontentleftcontentdivdivdivguanzhutitlea2{cursor: pointer; margin-left: 8px; width: 80px;height: 20px; font-size: 13px;color: #999;text-decoration: none;float: left;}
.ghmiddlecontentleftcontentdivdivdivguanzhutitlea2:hover{text-decoration: underline;}
.special{display: none;}
/*.ghmiddlecontentleftcontentdivdivdivguanzhutitlea21{ margin-left: 8px; width: 80px;height: 20px;display: inline-block; font-size: 13px;color: #999;text-decoration: none;float: left;}
.ghmiddlecontentleftcontentdivdivdivguanzhutitlea21:hover{text-decoration: underline;}*/

.ghmiddlecontentleftcontentdivdivdivguanzhutitlea3{width: 48px;height: 20px; color: #999;font-size: 12px;font-weight: 400;float: right;text-decoration: none;}
.ghmiddlecontentleftcontentdivdivdivguanzhutitlea3:hover{text-decoration: underline;}
.guanzhuhuatispecial{display: none;}

.ghmiddlecontentleftcontentdivdivdivguanzhutitlea2i{ float: left;display: block;margin-right: 5px; width: 14px;height: 11px;background-image: url("images/close.png"); background-position: -25px -67px;line-height: 14px;}
.ghmiddlecontentleftcontentdivdivdivguanzhucontentquestiona{float: left; display: block; font-size: 13px;color: #259;text-decoration: none;line-height: 1.7;}
.ghmiddlecontentleftcontentdivdivdivguanzhucontentquestiona:hover{text-decoration: underline;}
.ghmiddlecontentleftcontentdivdivdivguanzhucontentquestionspan{color: #999;font-size: 12px;font-weight: 400;line-height: 1.7;margin-left: 5px;}


#ghmiddlecontentright{float: left;width: 270px;min-height: 55px;float: left;}
#ghmiddlecontentrighttop{width: 270px;height: 23px;margin-bottom: 10px;line-height: 23px;}
#ghmiddlecontentrighttop span{font-size: 14px;font-weight: 700;color: #666;float: left;}
#ghmiddlecontentrightmiddle{width: 270px;min-height: 4px;overflow: hidden;}
.ghgzchuangquhuati{width: 244px;height: 47px;border: 1px solid #ccc;border-radius: 5px;margin-bottom: 15px;padding: 10px 10px;cursor: move;position: relative;}
.ghgzchuangquhuatidiv{width: 242px;height: 45px;border: 1px solid rgb(255,255,255);}
.ghgzchuangquhuatidivpic{width: 38px;height: 44px;float: left;display: block;}
.ghgzchuangquhuatidivpicimg{width: 38px;height: 38px;}
.ghgzchuangquhuatidivcontent{width: 192px;height: 38px;margin-left: 50px !important;margin-left: 12px\9;}
.ghgzchuangquhuatidivcontentname{max-width: 145px;height: 22px;color: #259;text-decoration: none;line-height: 1.7;font-size: 13px;font-weight: bolder;display: block;}
.ghgzchuangquhuatidivcontentname:hover{text-decoration: underline;}
.ghgzchuangquhuatidivcontentnumber{width: 192px;height: 17px;color: #999;line-height: 16px;}
.zg-gray{color: #999;font-size: 12px;font-weight: 400;}
.bull{margin: 0 3px;color: #bbb;}

#ghmiddlecontentrightbottom{width: 270px;height: 22px;cursor: pointer;}
#ghmiddlecontentrightbottoma{width: 71px;height: 22px;display: block;float: right;}
#ghmiddlecontentrightbottomap{margin-top:4px; width: 14px;height: 14px;vertical-align: -2px;margin-right: 5px;float: left;background-image: url("images/close.png");background-position: -234px -4px;}
#ghmiddlecontentrightbottomaspan{color: #666;font-size: 13px;float: left;cursor:pointer;}


#ghbottommenu{width: 100%;height: 63px;}
#ghbottommenuall{width: 960px;height: 22px;padding: 20px 15px;margin: auto;border-top: 1px solid #ccc;}
#ghbottommenuallleft{width: 72px;height: 22px;float: left;line-height: 1.7;font-size: 13px;color: #999;font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;}
#ghbottommenuallright{float: right;line-height: 1.7;font-size: 13px;color: #999;}
#ghbottommenuallright li{float: left;margin-right: 10px;}
#ghbottommenuallright a{color: #999;text-decoration: none;}
#ghbottommenuallright a:hover{text-decoration: underline;}

.ghycbuttom{visibility: hidden;}
.bianjibuttom{cursor:pointer; width: 15px;height: 15px;display: block;position: absolute;right: 30px;top: 10px;background-image: url("images/close.png") ;background-position:  -264px -103px;background-color: #698EBF;}
.bianjibuttom:hover{background-color: #259;}
.bianjibuttom2{cursor:pointer;width: 15px;height: 15px;display: block;position: absolute;right: 10px;top: 10px;background-image: url("images/close.png");background-position: -263px -84px;background-color: #698EBF;}
.bianjibuttom2:hover{background-color: #259;}
.quxiaoguanzhu {cursor:pointer;}

#ycid {display:none;}
.xsyc {display:none;}
